<div class="row">
    <div class="col-3" style="background-color:rgba(79, 131, 92, 0.893);">

<div class="col-3 mt-0 w-100" style="background-color:rgba(79, 131, 92, 0.893); color: white;">
    <div class="list-group border-0 w-100 fs-5 text-center" style="background-color:rgba(79, 131, 92, 0.893);">

        <button id="d" style="background-color:rgba(79, 131, 92, 0.893); color: white; border:none;" type="button" class="list-group-item list-group-item-action mt-4">View Profile<i class="fa-solid fa-user-tie ms-3 text-primary fa-2x"></i></button>
        <hr class="text-white">
        <button id="d" style="background-color:rgba(79, 131, 92, 0.893); color: white; border: none;" type="button" class="list-group-item list-group-item-action  mt-4">Balance Enquiry<i class="fa-solid fa-hand-holding-dollar ms-3 text-warning fa-2x"></i></button>
        <hr class="text-white">
        <button id="d" style="background-color:rgba(79, 131, 92, 0.893); color: white; border: none;" type="button" class="list-group-item list-group-item-action  mt-4">Money Transfer<i class="fa-solid fa-money-bill-transfer ms-3 text-warning fa-2x"></i></button>
        <hr class="text-white">
        <button id="d" style="background-color:rgba(79, 131, 92, 0.893); color: white; border: none;" type="button" class="list-group-item list-group-item-action  mt-4">Account Statement<i class="fa-solid fa-receipt ms-3 text-warning fa-2x"></i></button>
        <hr class="text-white">
        <button id="d" style="background-color:rgba(79, 131, 92, 0.893); color: white; border: none;" type="button" class="list-group-item list-group-item-action  mt-4">Logout<i class="fa-solid fa-power-off ms-3 text-danger fa-2x"></i></button>
        <hr class="text-white">
        <button id="d" style="background-color:rgba(79, 131, 92, 0.893); color: white; border: none;" type="button" class="list-group-item list-group-item-action  mt-4">Delete Account<i class="fa-solid fa-triangle-exclamation ms-3 text-danger fa-2x"></i></button>
        <hr class="text-white">
    </div>
    <div id="d" class="text-center mt-4" >
        <i  class="fa-solid fa-indian-rupee-sign fa-4x text-white"></i>
    </div>
   
</div>

    </div>
    <div class="col-9 mt-3 text-center p-5" >
        <h1 style="color: rgba(75, 117, 87, 0.87) ;">Enjoy Net Banking With <span class="text-info mt-3 mb-5">SBI</span></h1>
        <p class="text-start w-75 container">Lorem ipsum, dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, minima! Doloremque ratione illum ipsum doloribus dolorem aliquid modi soluta hic quaerat recusandae! Modi maiores commodi saepe temporibus reiciendis illo quia. consectetur adipisicing elit. Placeat, consectetur praesentium suscipit odio vitae cum ullam illo sint aperiam odit, porro illum dolor voluptatibus minus iure corrupti magni, laborum assumenda?</p>
        <img id="d" class="w-75 mt-5 p-5" src="https://i.postimg.cc/rmWBQ9T6/8292064.jpg" alt="">
    </div>

</div>
