<div class="row">
    <div class="col-3">

    </div>
    <div class="col-9 mt-3 text-center p-5" >
        <h1 style="color: rgba(75, 117, 87, 0.87) ;">Enjoy Net Banking With <span class="text-info mt-3 mb-5">SBI</span></h1>
        <p class="text-start w-75 container">Lorem ipsum, dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, minima! Doloremque ratione illum ipsum doloribus dolorem aliquid modi soluta hic quaerat recusandae! Modi maiores commodi saepe temporibus reiciendis illo quia. consectetur adipisicing elit. Placeat, consectetur praesentium suscipit odio vitae cum ullam illo sint aperiam odit, porro illum dolor voluptatibus minus iure corrupti magni, laborum assumenda?</p>
        <img id="d" class="w-75 mt-5 p-5" src="https://i.postimg.cc/rmWBQ9T6/8292064.jpg" alt="">
    </div>

</div>
