
<section class="vh-100 " >
      
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5" style="background-color: rgba(73, 113, 90, 0.868); border-radius: 25px;">
                <h2 class="text-uppercase text-center mb-5"><strong class="text-light">Create an account</strong></h2>
  
                <form id="d">

                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example3cg" class="form-control form-control-lg" placeholder="Account Number"/>
                    
                  </div>

              <div class="form-outline mb-4">
                <input type="text" id="form3Example3cg" class="form-control form-control-lg" placeholder="User Name"/>
                
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4cg" class="form-control form-control-lg" placeholder="Password"/>
                
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4cdg" class="form-control form-control-lg" placeholder="Confirm Password"/>
                
              </div>

             

              <div class="d-flex justify-content-center">
                <button type="button"
                  class="btn btn-info btn-block btn-lg gradient-custom-4 text-body "><strong class="text-light">Register</strong></button>
              </div>

              <p class="text-center text-muted mt-5 mb-0 "><strong class="text-light">Have already an account? </strong><a href="#!"
                  class="fw-bold text-body"><u><strong class="text-info">Login here</strong></u></a></p>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>